body, *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h6{
    font-size: 17px !important;
    margin: 10px 0 25px 0 !important;
}

h5{
    font-size: 18px;   
    margin-bottom: 15px !important;
}

.fat{
    font-weight: bold !important;
}

.underline{
    text-decoration: underline;
}

.numbers{
    font-family: monospace;
    font-size: 16px;
}

.grid-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

}

.app-container{
    background-color: #222;
}

.instructions {
    width: 500px;
    background-color: #dfdfdf !important;
    padding: 20px 45px;
    border-bottom: 3px solid #333;
    color: #111;
}
.instructions p{
    width: 300px;
}

.form-instr{
    margin: 15px;
}

.danger{
    color: #dc3545;

}


.app-form{
    position: relative;
    width: 500px;
    display: grid;
    background-color: #dfdfdf !important;
    padding: 15px;
    border-top: 3px solid #333;
    color: #111;
}

label{
    margin: 0 !important;
    margin-top: 10px !important;
}


input{
    border: none;
    padding: 10px 20px;
}

.red{
    color: #d95350;
}

.green{
    color: #27a744;
}

.blue{
     color: #007bff;
}

.text-center{
    text-align: center;
}

.buttons{
    margin-top: 40px;
    display: grid;
    grid-template-areas: 
    'startbtn resetbtn'
    'gridbtn gridbtn';
    grid-gap: 10px;
}

.startbtn{
    grid-area: startbtn;
}

.gridbtn{
    grid-area: gridbtn;
}

.resetbtn{
    grid-area: resetbtn;
}



canvas{
    border: 30px solid #4f4f4f;
    background-color: #606060;  
}