body, *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.app-container{
    background-color: #222;
}

.instructions {
    width: 500px;
    background-color: #c6c6c6 !important;
    padding: 15px;
    border-bottom: 1px solid #111;
}
.instructions p{
    width: 300px;
}

.app-form{
    width: 500px;
    display: grid;
    background-color: #c6c6c6 !important;
    padding: 15px;
}

label{
    margin: 0 !important;
    margin-top: 10px !important;
}

#btn-1{
    width: 200px;
    height: 40px;
    margin: 10px;
    justify-self: center;
}

input{
    border: none;
    padding: 10px 20px;
}